*{
  padding: 0;
  margin: 0;
}
body{
background-color: #F5D0C5;  
text-align: center;
}
.contaner{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game{
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5vmin;
}
.box{
  height:18vmin;
  width: 18vmin;
  border-radius: 1vmin;
  box-shadow: 0 0 1rem rgb(147, 147, 148);
  font-size: 8vmin;
  color: #af2a2a;
  background-color: #D69F7E;
}

h1{
  color: rgb(245, 117, 117);
  margin-top: 60px;
  font-family: serif;
 text-transform: uppercase;

}
#Reset-btn{
padding: 1rem;
font-size: 1.5rem;
border-radius: 1rem;
background-color: #050609;
color: #ffffff;
}
#new-btn{
padding: 0.7rem;
font-size: 1rem;
border-radius: 1rem;
background-color: #050609;
color: #ffffff;
margin-top: 5vmin;
}
#msg{
  font-size: 2rem;
  margin-top: 20px;
  font-weight: 600;
  color: #d82727;
}
.msg-container{
  height: 30vmin;
}
.hidde{
  display: none;
}